<% include ../partials/header %>   
<div class="page-header"> 
    <h1><small>Welcome to your profile, <%= user.username %></small></h1>
</div>
    <img src="<%= user.thumbnail %>" alt="">
<% include ../partials/footer %>