<!DOCTYPE HTML>
<html>
    <head>
        <title>QUIZAPP</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
        <!-- Font Awsome CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="css/style.css">    -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active">
                      <a class="nav-link" href="/"><i class="fas fa-user-graduate"></i> QuizApp</a>
                    </li>
                    <% if(user) { %>
                        <li class="nav-item">
                        <a class="nav-link" href="/auth/logout/">Logout</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/auth/profile/">Profile</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                        <a class="nav-link" href="/auth/login/">Login</a>
                        <li class="nav-item">
                        <a class="nav-link" href="/auth/signup/">Sign Up</a>
                    <% } %>
                </ul>
            </div>
        