<% include ../partials/header %>    
</nav>
<div class="col-md-4 text-center">        
    <button type="button" class="btn btn-light btn-lg btn-block"><a href="/auth/google">Continue with Google</a></button>
    <button type="button" class="btn btn-light btn-lg btn-block"><a href="/auth/signin">Login with QuizApp Account</a></button>
</div>
<% include ../partials/footer %>