<!DOCTYPE HTML>
<html>
    <head>
        <title>QUIZAPP</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <nav class="home-nav">
            <% if(user) { %>
                <button><a href="/auth/logout/">Logout</a></button>
                <button><a href="/auth/profile/">Profile</a></button>
            <% } else { %>
                <button><a href="/auth/login/">Login</a></button>
            <% } %>
            <button><a href="/">Homepage</a></button>
            <h2>Welcome to Quizapp</h2>
        </nav>
    </body>
</html>